<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Post Journal</title>
  <meta charset="utf-8">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-expand-lg bg-ligh">

    <div class="container">

      <div class="navbar-header">
        <p class="navbar-brand">DAILY JOURNAL</p>
      </div>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <!-- 6 -->
          <li id="home" class="nav-item "><a href="/" class="nav-link">HOME</a></li>
          <li id="contact" class="nav-item"><a href="/compose" class="nav-link">COMPOSE A POST</a></li>
          <li id="about" class="nav-item"><a href="/about" class="nav-link">ABOUT US</a></li>
          <li id="contact" class="nav-item"><a href="/contact" class="nav-link">CONTACT US</a></li>

        </ul>

      </div>

    </div>
  </nav>

<body>
  <div class="container">